In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../TextFiles/smsspamcollection.tsv", sep = "\t")

In [4]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [5]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [6]:
df["label"].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = df["message"]

In [9]:
y = df["label"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
# performing count vectorization

from sklearn.feature_extraction.text import CountVectorizer

In [12]:
count_vectorizer = CountVectorizer()

In [13]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [14]:
# FIT THE VECTORIZER TO THE DATA (build a vocab, count the number of words...)
# count_vectorizer.fit(X_train)
# X_tarin_counts = count_vectorizer.transform(X_train)

# TRANSFORM ORIGINAL TEXT MESSAGE --> VECTOR

X_train_counts = count_vectorizer.fit_transform(X_train)

In [15]:
X_train_counts

<3733x7082 sparse matrix of type '<class 'numpy.int64'>'
	with 49992 stored elements in Compressed Sparse Row format>

In [16]:
X_train.shape

(3733,)

In [17]:
X_train_counts.shape

(3733, 7082)

In [18]:
# counts to freqs using tfidf

## PART TWO